.card {
    width: 270px;
    height: 264px;
    background-color: aliceblue;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor:pointer;
}

.card img {
    width: 90%;
    margin: auto;
}

.card h3 {
    background: black;
    cursor: pointer;
}

.list__item--btn {
    color: #FFFFFF;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    /* .card__container {
        flex-direction: column;
    } */
}